*.pyc
*.zip
*.fasta
covid_proteins/QHD*
*.gz
*.bz2
DI/
pfam_ecc/
*.sif
*.simg
nl/
zd/ 
.ipynb_checkpoints/
*.npy
*.txt
*.fa
*.pdb
*.pickle
*.simg
*.swarm
swarm_output/
swarm_output_generate_data/
biowulf/*/*
*.pkl
*.pdf
*.out
*.o
*.e
